{% extends 'base_template.html'%}
{% load i18n %}
{% load static %}
<html lang="en">
{% block head %}
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Uncoached | {% trans 'Your training plan' %}</title>
    <link rel="stylesheet" href="{% static '/css/base.css'%}">
    <link rel="stylesheet" href="{% static '/css/landing_style.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'directions_bike.svg' %}">
</head>
{% endblock %}
<body>
    {% block header %}
    <nav>
        <img src="{% static 'uncoached.png' %}" alt="uncoached logo" class="main-logo">
        <div>
        <a href="/users/login/"> Get Started </a>
        <a href="#about"> About </a>
        <a href="#contacts"> Contacts </a>
        </div>
    </nav>
    {% endblock %}
    {% block content %}
    <section class="hero">
        <div class="hero-container" id="get-started">
            <div class="column-left">
                <h1>A platform that helps to plan workouts for cyclists and achieve ambitious goals.</h1>
                <p></p>
                <form action="/"><button class="start-button">Get Started</button></form>
            </div>
            <div class="column-right">
                <div class="image-box">
                    <img src="{% static 'cycling.svg'%}" class="hero-image">
                </div>
            </div>
        </div>
        <div class="about-container"></div>
    </section>
    <div class="hero-2-container" id="about">
        <div class="hero-2-left">
            <h2> More than 10 years of experience in training from me,
                only motivation is needed from you.</h2>

        </div>
        <div class="hero-2-right"></div>
    </div>
    <div class="hero-3-container" id="contacts">
    </div>
    {% endblock %}
</body>
</html>