.form-background {
    height: calc(100vh - 140px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorlist {
    width: 140px;
    position: relative;
    left: 10px;
    font-size: .5rem;
    line-height: .6rem;
    color: #f44336;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    align: center;
    background: #332E33;
    color: #F9F7F6;
    line-height: 1.5rem;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-1-login {
    position: relative;
    left: 9px;
}



input {
    height: 25px;
    font-size: .9rem;
    width: 150px;
    font-weight: 700;
}


/* Register page styles */

.register-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form-box {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    align: center;
    background: #F9F7F6;
    color: #332E33;
    line-height: 1.5rem;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
}

.register-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.form-button-dark {
    height: 20px;
    width: 80px;
    border: none;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 700;
    background: #332E33;
    color: #F9F7F6;
}

.form-button-dark:hover {
    background: #67BE6C;
    color: #332E33;
}

.form-button-dark + .form-button-dark {
    margin-left: 185px;
}

.bottom-buttons {
    margin-top: 5px;
}

.helptext {
    font-size: .7rem;
    line-height: .9rem;
    color: #f44336;
}

.helptext ul{
    list-style-type: none;
}

.register-form-box input {
    width: 350px;
}

.register-form-box textarea {
    width: 350px;
}

.register-form-box label {
    display: flex;
}