{% load static %}
{% load i18n %}
<link rel="stylesheet" href="{% static '/css/insert_year.css'%}">

<div class="insert-container">
    <div class="link-cont">
      <a href="/year/{{prev_year}}/">
          <svg fill="#332E33" height="48" width="48"><path d="M24 40 8 24 24 8l2.1 2.1-12.4 12.4H40v3H13.7l12.4 12.4Z"/></svg>
      </a>
      {% trans 'Last year' %}
    </div>
    <div style="width: 80vw;">

    </div>
    <div class="link-cont">
      {% trans 'Next year' %}
      <a href="/year/{{next_year}}/">
        <svg fill="#332E33" height="48" width="48"><path d="m24 40-2.1-2.15L34.25 25.5H8v-3h26.25L21.9 10.15 24 8l16 16Z"/></svg>
      </a>
    </div>
</div>