{% extends 'base_template.html' %}
{% load i18n %}
{% load static %}
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>{% trans 'Sign in' %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <link rel="stylesheet" href="{% static '/css/base.css'%}">
        <link rel="stylesheet" href="{% static '/css/users.css'%}">
        <link rel="stylesheet" href="{% static '/css/landing_style.css'%}">
        <link rel="icon" type="image/x-icon" href="{% static 'directions_bike.svg' %}">
    </head>
{% endblock %}
{% block content %}
    <div class="form-background">
        <div class="login-form">
            <form method="post" class="form-1-login">
            {% csrf_token %}
            {{ form }}
            <div class="bottom-buttons">
            <button type="submit" class="form-button"> {% trans 'Sign in' %}</button>
            <button onclick="history.back()" class="form-button"> {% trans 'Back' %}</button>
            </div>
            </form>
        </div>
    </div>
{% endblock %}